@model IEnumerable<Blog.Models.Post>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Moderator.cshtml";
}

<h2>Опубликованные посты</h2>

<p>
    @Html.ActionLink("Новый пост", "Create")
</p>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Поиск по автору и названию статьи: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            @Html.ActionLink(" Все посты", "Index")
        </p>
    </div>
</form>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.Name)
        </th>        
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>       
        @*<th>
            @Html.DisplayNameFor(model => model.Published)
        </th>*@
        <th>
            @Html.ActionLink(@Html.DisplayNameFor(model => model.Published).ToString(), "Index", new { sortOrder = ViewBag.DateSortParm })
            @*<a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">@Html.DisplayNameFor(model => model.Published)</a>*@
        </th>
        <th>
            @Html.ActionLink(@Html.DisplayNameFor(model => model.Author).ToString(), "Index", new { sortOrder = ViewBag.NameSortParm })
           @* <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.Author)</a>*@
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Author)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Category.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.ShortDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UrlSlug)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Published)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}
</table>